<div class="stage-operations">
    <div class="main-buttons main-top-buttons">
        <a class="btn btn-operation" uib-tooltip="撤销" tooltip-placement="right" ng-click="vm.undo()"><i class="fa fa-undo"></i></a>
        <a class="btn btn-operation" uib-tooltip="重做" tooltip-placement="right" ng-click="vm.redo()"><i class="fa fa-repeat"></i></a>
        <a class="btn btn-operation" uib-tooltip="网格" tooltip-placement="right" ng-click="vm.stageGrid()"><i class="fa fa-th-large"></i></a>
        <a class="btn btn-operation" uib-tooltip="预览动画" tooltip-placement="right" ng-click="vm.playStageAnimation()"><i class="fa fa-play"></i></a>
    </div>
</div>
